@import 'nativescript-theme-core/css/forest.css';
/*@import "nativescript-theme-core/css/core.light.css";*/

/* Your CSS goes here */
StackLayout > Label {
    margin-top: 10;
    margin-left: 20;
    height: 28em;
    /*background-color: #024a56; */
}

.call-btn {
    font-size: 30em;
    height: 50em;
    horizontal-align: center;
}